@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

div{
  color: rgb(255, 255, 255);
}

header{
  margin-left: 20vw;
  width: 80%;
  height: 20vh;
  min-height: 30px;
  background-color:#282828;
  max-height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  
  
}
.brand{
  
  padding-left: 5vw;
}
.brand img{
  height: 10vh;
  max-height: 400px;
  min-height: 30px;
  max-width: 40px;
  min-width: 30px;
  width: 10vh;
}
.search{
  display: flex;
  flex: 2 1;
  justify-content: center;
  
}
.searchSong{
  width: 30vw;
  max-width: 1000px;
  min-width: 180px;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 4px;
  box-shadow: none;
}
.searchSong:focus{
  outline: none;
  background-color: white;
  border: 2px solid rgb(255, 49, 245);
}
.userAuth{
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  
  padding-right: 5vw;
}

.sideNav{
  position: fixed;
  height: 100vh;
  min-height: 500px;
  width: 20vw;
  background:#030303;

  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: flex-start;

}
/* .sideNav div{
  width: 100%;
  background-color: violet;
  margin: 1px;
} */
.hidden{
  height: 20vh;
  min-height: 30px;
  max-height: 50px;
  
}

.musicPlayer{
  background-color:#282828;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0vw;
  height: 13vh;
  min-height: 30px;
  max-height: 10vw;
  width: 80%;
  border-top: 1px solid black;
 
}
.songPic{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.songPic img{
 width: 4vw;
 height: 4vw;
 flex: 1;
 padding: 0px 0 0 5px;
 margin: 1px;
 border-radius: 10%;
 max-width: 200px;
 max-height: 100px;
}
.songPic span{
  padding: 0px 10px 0 10px;
 margin: 1px;
 flex:2;
 font-size: 1vw;
 word-break: break-all;
}
.middle{
  flex: 2;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
.media{
  flex: 1;
}
.volumeBar{
  display: flex;
  margin-top: -11px;
  margin-left: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
  height: 2px;
  cursor: pointer;
}
.volumeMuteUnmute{
  margin-left: 14px;
  color: #b3b3b3;
}

.volumeMuteUnmute:hover{
  color: white;
}
.volumeBar:focus{
  outline: none;
}
.media input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgb(227, 59, 219);
  background: -moz-linear-gradient(45deg, rgb(207, 59, 227) 0%, rgb(221, 87, 226) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(210, 96, 238)), color-stop(25%, rgb(209, 87, 230)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgb(206, 94, 226) 0%, rgb(217, 112, 231) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgb(230, 80, 222) 0%, rgb(209, 120, 224) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgb(205, 83, 221) 0%, rgb(219, 106, 223) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgb(190, 88, 190) 0%, rgb(243, 89, 235) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3BADE3 ', endColorstr='#FF357F ', GradientType=1 );
  height: 2px;
}
.media input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  max-width: 80px;
  position: relative;
  bottom: 6px;
  background: linear-gradient(180deg, #c5003f 0%, #8b0082 100%);
  cursor: -webkit-grab; 
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
.mainBar{
  
  width: 96%;
 
  display: flex;
  flex-direction: column;
}
.progress{
  display: flex;
}
.progress span:nth-child(2){
  margin-left: auto;
}

.progress span {
  font-size: small;
  font-weight: 300;
  position: relative;
  bottom: 5px;
}



.upperSpace{
  height: 20vh;
  min-height: 30px;
  max-height: 50px;
}


.home{
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-color:#121212;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.upperSpaceHome{
  height: 20vh;
  width: 100%;
  min-height: 30px;
  max-height: 50px;
}
.homeContent{
  width: 80vw;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#121212
}
.firstRowHOme{
  max-height: 200px;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
}
.carousel{
 flex: 2 1;
}
.carousel img{
  max-height: 200px;
  
}
.radioNav{
  width: 20vw;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 10px;
}
.trending ,.top-picks , .english-songs, .favourite, .playlistData, .allEnglish, .radioAll, .album{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  max-width: 2000px;
  width: 76vw;
  margin-top: 2vw;
}
.rowHeader{
  display: flex;
  width: 100%;
}
.rowBody{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.rowHeader a{
  margin-left: auto;
}

.rowHeader span{
  font-size: large;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.rowHeader div {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #b3b3b3;
}
.rowHeader div:hover{
  color: white;
}
.itemCard{
  height: 15vw;
  width: 13vw;
  background-color:#282828;
  margin-top: 1vw;
  border-radius: 5px;
  margin-left: 2vw;
  overflow: hidden;
  
}
.cardTitle span {
  display: block;
  font-size: 1vw;
  text-align: center;
  padding: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
}
.itemCard:hover{
  box-shadow: 1px -1px 12px 3px #4d4b4b;

}
 .itemCard img{
  z-index: -2;
  width: 80%;
  height: 70%;
  clip-path: polygon(0 13%, 100% 13%, 100% 87%, 0 87%);
}
.cardFooter{
  display: flex;
  padding: 0px 5px 0px 5px;
}
.dotButton{
  margin-left: auto;
  
}


.authModal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(194, 194, 194,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: open;
  animation-duration: 0.5s;
}

@keyframes open{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.playlistInputBox{
  opacity: 1;
  position: relative;
  background-color: #282828;
  padding: 32px 0;
}
.playlistInputBox input{
  
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-transform: none;
  width: 50vw;
  background-color: transparent;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: flex;
  margin-left: 50px;
  caret-color: #9b1992;
  
}


.playlistHeader h1{
  font-size: 3vw;
}
.playlistInputButton{
  margin-top: 2vw;
}
.playlistInputButton button{
  background: linear-gradient(180deg, #c5003f 0%, #8b0082 100%);
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 1vw;
  padding: 10px;
  width: 10vw;
  cursor: pointer;
  outline: none;

}
.cross{
  color: rgb(139, 139, 139);
  font-size: 6vw;
  align-items: center;
  top: 25%;
  cursor: pointer;
  margin-bottom: 10px;
}
.cross:hover{
  color: #cfcfcf;
}
.login{
  display: flex;
  flex-direction: column;
}
.authBody{
  display: flex;
  flex-direction: column;
}
.loginHeader{
  display: flex;
}
.navActive{
  background-color: hotpink;
  color: white !important ;
  background: linear-gradient(180deg, #c5003f 0%, #8b0082 100%);
  border-radius: 59px;

}
.B{
  height: 35vh;
  width: 100%;
}
.B nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}

.musicTab {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.5;
  margin-left: 7px;
  letter-spacing: 1px;
}

.Rootlist_divider{
  background-color: #282828;
  position: relative;
  top: 21px;
  border: none;
  height: 1px;
  width: 16vw;
}


.navbarLink{
  text-decoration: none;
  width: 80%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #b3b3b3;
  font-weight: 500;
  
}

.navbarLink:hover{
  color: white;
}

.C{
  width: 100%;
  background-color: #030303;
}

.C .playlist {
  margin-top: 24px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.5;
  margin-left: 7px;
  letter-spacing: 1px;
}
.createPlaylist{
  text-align: center;         

}
.createPlaylist .Rootlist_divider{
  background-color: #282828;
  border: none;
  height: 1px;
  width: 16vw;
}

.create_playlist_button_text{
  font-size: large;
  font-weight: 500;
  color: #b3b3b3;
  cursor: pointer;
}
.create_playlist_button_text:hover{
  color: white;
}

.playlistModal{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: black;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: open;
  animation-duration: 0.5s;
}

.C .playlistName{
  max-height: 20vh;
  position: relative;
  margin: 10px auto 0;
  line-height: 5vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style-type: none;
  max-width: 50%;

}

.playlist_remove_item_buttton{
  font-size: large;
  font-weight: 500;
  margin-left: auto;
  opacity: 0;
}
.playlistName div:hover .playlist_remove_item_buttton{
  opacity: 1;
  cursor: pointer;
}

.playlistName div{
    display: flex;
}

.playlistName a{
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 1px;
}
.playlistName div:hover a{
  color: white;
}


.playlistName::-webkit-scrollbar {
  width: 15px;
}

.playlist_button{
  cursor: pointer;
  color: #b3b3b3;
  width: 25px;
  height: 25px;
  padding: 4px;
  border: none;
  outline: none;
  margin-left: 12px;

}
.playlist_button:hover{
  color: white;
}

.parent_playlist_div{
  position: relative;
  top: 43px;
  display: flex;
}


.playlistNameBox {
  display: flex;
  list-style-type: none;
  max-width: 50vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.playlistNameBox li {
  font-weight: 500;
  letter-spacing: 1px;
  width: 37%;
  margin: 8px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  text-align: center;
  border-radius: 30px;
}

.playlistNameBox li:hover{
  background: linear-gradient(180deg, #c5003f 0%, #8b0082 100%);;
}

.cardDialog{
  z-index: 3;
  position: absolute;
  background-color: #282828;
  height: 170px;
  width: 150px;
  border-radius: 5px;
  display: flex;
}

.cardDialog ul{
  color: #b3b3b3;
  font-weight: 500;
  font-size: smaller;
  line-height: 40px;
  padding: 2px;
  width: 100%;
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.cardDialog li:hover {
  cursor: pointer;
  background-color: #393838;
  color: white;
}

.play{
  width: 1vw;
  
  border-top: 8px solid transparent;
  border-left: 12px solid #b3b3b3;
  border-bottom: 8px solid transparent;
  border-right: none;
  background: none;
  outline: none;

}
/* .circle{
  position: absolute;
  left: 47.5%;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid hsla(0,0%,100%,.6);
  
} */
.mediaActions{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
}

.pause{
  width: 9px;
  height: 16px;
  border-top: none;
  border-bottom: none;
  border-right: 4px solid #b3b3b3;
  border-left: 4px solid #b3b3b3;
  background: none;
  outline: none;
}

.progressBar{
  display: block;
  appearance: none;
  width: 100%;
  margin-bottom: 15px;
  height: 2px;
  cursor: pointer;
}

.progressBar:focus{
  outline: none;
}
.progressBar::-webkit-slider-runnable-track{
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: rgb(144, 144, 144);
}

.progressBar::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  background: linear-gradient(180deg, #c5003f 0%, #8b0082 100%);
  border-radius: 100%;
  position: relative;
  bottom: 5px;
}

.progressBar::-webkit-progress-value { 
  background: blue; 
  width: 100%;
}

.fa-ellipsis-v{
  color: #b3b3b3;
  cursor: pointer;
}
.fa-ellipsis-v:hover{
  color: #eeeeee;
  font-size: large;
}
