body{
  margin: 0;
  padding: 0;
}

div{
  color: blue;
}

header{
  width: 100%;
  height: 20vh;
  min-height: 30px;
  background-color: rgb(255, 255, 255);
  max-height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  
  
}
.brand{
  flex: 1;
  
  
  padding-left: 5vw;
}
.brand img{
  height: 10vh;
  max-height: 400px;
  min-height: 30px;
  max-width: 40px;
  min-width: 30px;
  width: 10vh;
}
.search{
  display: flex;
  flex: 2;
  justify-content: center;
  
}
.searchSong{
  width: 30vw;
  max-width: 1000px;
  min-width: 180px;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 4px;
  box-shadow: none;
}
.searchSong:focus{
  outline: none;
  background-color: white;
  border: 2px solid rgb(255, 49, 245);
}
.userAuth{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  
  padding-right: 5vw;
}

.sideNav{
  position: fixed;
  height: 100vh;
  min-height: 500px;
  width: 20vw;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: flex-start;

}
/* .sideNav div{
  width: 100%;
  background-color: violet;
  margin: 1px;
} */
.hidden{
  height: 20vh;
  min-height: 30px;
  max-height: 50px;
  
}

.musicPlayer{
  background-color: teal;
  position: fixed;
  bottom: 0;
  right: 0vw;
  height: 20vh;
  min-height: 30px;
  max-height: 60px;
  width: 80vw;
 
}



.upperSpace{
  height: 20vh;
  min-height: 30px;
  max-height: 50px;
}


.home{
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-color: rgb(73, 17, 45);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.upperSpaceHome{
  height: 20vh;
  width: 100%;
  min-height: 30px;
  max-height: 50px;
}
.homeContent{
  width: 80vw;
  height: 100vh;
  background-color: tomato;
}
.firstRowHOme{
  max-height:200px;
  display: flex;
  flex-wrap: wrap;
}
.carousel{
 flex: 2;
}
.carousel img{
  max-height: 200px;
}
.radioNav{
  width: 20vw;
  background-color: rgb(231, 38, 206);
}
.trending{
  display: flex;
  flex-wrap: wrap;
}
.trending div{
  margin:3px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid grey;
}
.top-picks{
  display: flex;
  flex-wrap: wrap;
}
.top-picks div{
  margin:3px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid grey;
}
.english-songs{
  display: flex;
  flex-wrap: wrap;
}
.english-songs div{
  margin:3px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid grey;
}
.authModal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(194, 194, 194,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.login{
  display: flex;
  flex-direction: column;
}
.authBody{
  display: flex;
  flex-direction: column;
}
.loginHeader{
  display: flex;
}
.B{
  height: 40vh;
  width: 100%;
}
.B nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.B nav div{
  text-align: center;
  cursor: pointer;
  
}